.header{
  height: 60px;
  margin: 10px 0;
  border: 1px solid gray;
  background-color: white;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.header-title{
  margin: 0;
}