.message-input{
  position: relative;

  height: 120px;
  border: 1px solid gray;
  padding: 10px;
  padding-right: 9%;
}

.message-input-text{
  padding: 20px;
  height: 30px;
  width: 90%;
}
.message-input-button{
  position: absolute;
  top: 10px;
  right: 10px;
  height: 50px;
  width: 9%;
}