.message{
  width: 55%;
  margin: 10px;
  background-color: #ededed;
  border: 1px solid gray;
  border-radius: 5px;
}
.message > div{
  display: flex;
}


.message-text{
  flex: 1;
  padding: 10px;
}
.message-user-avatar{
  border-radius: 5px;
}
.user-info{
  flex: .1;
  width: 100px;
  height: 60px;
  margin: 10px;
  background-color: white;
}

.addition-opt{
  display: flex;
  justify-content: space-between;
  padding: 0 10px 5px 10px;
  margin-top: 20px;
}

.message-liked{
  background-color: red;
}