.preloader{
  visibility: visible;
  width: 50px;
  height: 50px;
  
  border: 2px solid #f3f3f3;
  border-top:3px solid #2a2929;
  border-radius: 100%;
  
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right: 0;
  margin: auto;
  
  animation: spin 1s infinite linear;
}

@keyframes spin {
  from{
      transform: rotate(0deg);
  }to{
      transform: rotate(360deg);
  }
}